limit_req_zone $binary_remote_addr zone=app_limit:10m rate=5r/s;

server {
    listen 80;
    listen [::]:80;

    server_name accountant.devexp.co;

    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name accountant.devexp.co;

    ssl_certificate /etc/letsencrypt/live/accountant.devexp.co/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/accountant.devexp.co/privkey.pem;

    location /robots.txt {
        add_header Content-type text/plain;
        return 200 "User-agent: *\nDisallow: /\n";
    }

    location /.well-known/acme-challenge {
        root /var/www/cert;
    }

    location /static/ {
        alias /var/www/accountant/assets/;
        try_files $uri =404;
    }

    location / {
        try_files $uri /index.php$is_args$args;
    }

    location ~ ^/index\\.php(/|$) {
        #auth_basic "Welcome to Accountant";
        #auth_basic_user_file "/etc/nginx/auth/.htpasswd";

        limit_req_log_level warn;
        limit_req_status 429;
        limit_req zone=app_limit burst=5 nodelay;

        internal;

        # Has to match the location of the index.php in the app container.
        # https://stackoverflow.com/a/32999924
        root /app/public;

        include fastcgi_params;

        fastcgi_buffer_size 128k;
        fastcgi_buffers 4 256k;
        fastcgi_busy_buffers_size 256k;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $document_root;

        fastcgi_pass app:9000;
        fastcgi_split_path_info ^(.+\\.php)(/.*)$;
    }

    location ~ \\.php$ {
        return 404;
    }
}
