{% extends 'base.html.twig' %}
{% block title %}Forgot password | {{ parent() }}{% endblock %}
{% block headerText %}Forgot password{% endblock %}
{% block content %}
    <article class="min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <section class="w-full max-w-md space-y-8">
            {% for l, ms in app.flashes %}
                {% for m in ms %}
                    <div class="{{ l }}">{{ m }}</div>
                {% endfor %}
            {% endfor %}
            {{ form(form) }}
        </section>
    </article>
{% endblock %}
