{% extends 'base.html.twig' %}
{% block title %}Register | {{ parent() }}{% endblock %}
{% block content %}
<article>
    {{ include('_heading.html.twig', {title: 'Register'}) }}
    <section>
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        {{ form(form) }}
    </section>
</article>
{% endblock %}
