{% extends 'base.html.twig' %}
{% block title %}Reset password | {{ parent() }}{% endblock %}
{% block headerText %}Reset password{% endblock %}
{% block content %}
    <article class="min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <section class="w-full max-w-md space-y-8">
            {{ form(form) }}
        </section>
    </article>
{% endblock %}
