{% extends 'base.html.twig' %}
{% block title %}Reset password | {{ parent() }}{% endblock %}
{% block content %}
<section>
    {{ include('_heading.html.twig', {title: 'Reset password'}) }}
    <article>
        {{ form(form) }}
    </article>
</section>
{% endblock %}
