{% extends 'base.html.twig' %}
{% block title %}Reset password | {{ parent() }}{% endblock %}
{% block content %}
<article>
    {{ include('_heading.html.twig', {title: 'Reset password'}) }}
    <section>
        {{ form(form) }}
    </section>
</article>
{% endblock %}
