{{define "content"}}
    {{if not .}}
        <p>No transactions.</p>
    {{else}}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Category</th>
                <th>Date & time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{range $transaction := .}}
                <tr>
                    <td>{{$transaction.Name}}</td>
                    <td>{{$transaction.Value}}</td>
                    <td>{{$transaction.Category}}</td>
                    <td>{{$transaction.Date}}</td>
                    <td>actions...</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    {{end}}
{{end}}
