{% extends 'base.html.twig' %}
{% block title %}New Category | {{ parent() }}{% endblock %}
{% block content %}
<article>
   {{ include('_heading.html.twig', {actions: {index: 'category_index'}, title: 'New Category'}) }}
   <section>
        {{ form(form) }}
   </section>
</article>
{% endblock %}
