{% extends 'base.html.twig' %}
{% block title %}New Transaction | {{ parent() }}{% endblock %}
{% block content %}
<section>
    {{ include('_heading.html.twig', {
        actions: {index: 'transaction_index'},
        title: 'New Transaction'
    }) }}
    <article>
        {{ form(form) }}
        {{ include('transaction/initDate.html.twig') }}
    </article>
</section>
{% endblock %}
