{% extends 'base.html.twig' %}
{% block title %}Edit Transaction | {{ parent() }}{% endblock %}
{% block content %}
<article>
   {{ include('_heading.html.twig', {
       actions: {
           delete: 'transaction_delete',
           index: 'transaction_index',
           view: 'transaction_view'
        },
       data: transaction,
       title: "Transaction #{transaction.name}"
    }) }}
   <section>
         {{ form(form) }}
         {{ include('_initDate.html.twig', {elementId: 'transaction_transactionDate'}) }}
   </section>
</article>
{% endblock %}
