{% extends 'base.html.twig' %}
{% block title %}Edit Transaction | {{ parent() }}{% endblock %}
{% block headerText %}Transaction{% endblock %}
{% block headerActions %}
    {{ include('_actions.html.twig', {
        actions: {
            delete: 'transaction_delete',
            index: 'transaction_index',
            view: 'transaction_view'
        },
        data: transaction
    }) }}
{% endblock %}
{% block content %}
    <article class="min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <section class="w-full max-w-md space-y-8">
            {{ form(form) }}
            {{ include('_initDate.html.twig', {elementId: 'transaction_transactionDate'}) }}
        </section>
    </article>
{% endblock %}
