{{define "content"}}
    <section>
        <article>
            <h1>Transactions</h1>
            <div class="actions">
                <a class="btn btn-icon btn-add" href="/transaction/add/">
                    <svg class="feather">
                        <use xlink:href="/static/icons/feather-sprite.svg#plus"/>
                    </svg>
                </a>
            </div>
        </article>
        <article>
            {{if not .}}
                <p>No transactions.</p>
            {{else}}
                <table class="acc-table">
                    <thead class="acc-thead">
                    <tr class="acc-tr">
                        <th class="acc-th">Name</th>
                        <th class="acc-th">Amount</th>
                        <th class="acc-th">Category</th>
                        <th class="acc-th">Transaction Date</th>
                    </tr>
                    </thead>
                    <tbody class="acc-tbody">
                    {{range $transaction := .}}
                        <tr class="acc-tr">
                            <td class="acc-td">{{$transaction.Name}}</td>
                            <td class="acc-td">{{$transaction.Amount}}</td>
                            <td class="acc-td">
                                <span class="category-pill"
                                      style="background-color: {{$transaction.Category.Color}}; color: {{$transaction.Category.TextColor}};"
                                >
                                    {{$transaction.Category.Name}}
                                </span>
                            </td>
                            <td class="acc-td">{{$transaction.TransactionDate | dbToDisplayDate}}</td>
                            <td class="acc-td table-action-cell">
                                <a class="btn btn-icon btn-edit" href="/transaction/edit/{{$transaction.Id}}">
                                    <svg class="feather">
                                        <use xlink:href="/static/icons/feather-sprite.svg#edit"/>
                                    </svg>
                                </a>
                                <a class="btn btn-icon btn-view" href="/transaction/view/{{$transaction.Id}}">
                                    <svg class="feather">
                                        <use xlink:href="/static/icons/feather-sprite.svg#search"/>
                                    </svg>
                                </a>
                                <a class="btn btn-icon btn-delete" href="/transaction/delete/{{$transaction.Id}}">
                                    <svg class="feather">
                                        <use xlink:href="/static/icons/feather-sprite.svg#trash"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            {{end}}
        </article>
    </section>
{{end}}
