{% extends 'base.html.twig' %}
{% block title %}Home | {{ parent() }}{% endblock %}
{% block content %}
<article>
    <section class="page-title">
        <h1> Welcome to Accountant</h1>
    </section>
    <section>
        <p>This is a simple transaction tracking application meant for keeping tabs on your balance.</p>
    </section>
</article>
{% endblock %}
