{% extends 'base.html.twig' %}
{% block title %}Home | {{ parent() }}{% endblock %}
{% block headerText %}Welcome to Accountant{% endblock %}
{% block content %}
<article class="px-4 sm:px-6 lg:px-8">
    <section>
        <p>This is a simple transaction tracking application meant for keeping tabs on your balance.</p>
    </section>
</article>
{% endblock %}
