{{define "content"}}
    <section>
        <article class="page-title">
            <h1>Welcome to Accountant</h1>
        </article>
        <article>
            <p>This is a simple transaction tracking application meant for keeping tabs on your balance.</p>
        </article>
    </section>
{{end}}
