{% extends 'base.html.twig' %}
{% block title %}Edit Transaction Template | {{ parent() }}{% endblock %}
{% block headerText %}Transaction Template{% endblock %}
{% block headerActions %}
    {{ include('_actions.html.twig', {
        actions: {
            delete: 'transaction_template_delete',
            index: 'transaction_template_index',
            view: 'transaction_template_view'
        },
        data: transactionTemplate
    }) }}
{% endblock %}
{% block content %}
    <article class="min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <section class="w-full max-w-md space-y-8">
            {{ form(form) }}
        </section>
    </article>
{% endblock %}
