html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    color: #00b33c;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

article {
    display: flex;
}

main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header > nav {
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    font-size: 18px;
    height: 50px;
    left: 0;
    margin: 0;
    padding: 20px 20px 0 20px;
    position: fixed;
    right: 0;
    top: 0;
}

header > nav a {
    color: black;
}

header > nav a:hover {
    color: #00b33c;
}

header > nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header > nav #menu-brand {
    font-weight: bold;
    font-size: 24px;
    position: relative;
    white-space: nowrap;
}

/* HEADER END */
/* FOOTER */
footer {
    background-color: #333;
    color: white;
    flex-shrink: 0;
    text-align: center;
    width: 100%;
}

/* FOOTER END */
/* BUTTONS */
.btn {
    background: white;
    border: 2px solid;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    margin-bottom: 0;
    outline: none;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:hover {
    background: #00b33c;
    color: white;
}

.btn-icon {
    background-color: transparent;
    border: none;
    border-radius: 7px;
    font-size: revert;
    line-height: 1.15;
    padding: 6px 8px;
}

.btn-add:hover {
    background: #96e174;
}

.btn-cancel:hover {
    background: #ff2f30;
}

.btn-delete:hover {
    background: #ff5f5b;
}

.btn-edit:hover {
    background: #d7b800;
}

.btn-list:hover {
    background: #8bc7ff;
}

.btn-view:hover {
    background: gray;
}

/* END BUTTONS */
/* FEATHER ICONS */
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* END FEATHER ICONS */
/* FORM */
form {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=checkbox] {
    cursor: pointer;
}

.form-actions {
    display: flex;
    justify-content: space-evenly;
}

.form-group {
    display: flex;
}

.form-group input, .form-group select {
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    outline: none;
}

.form-group input:not([type="color"]), .form-group select {
    font-size: 14px;
    padding: 15px;
}

.form-group input[type="color"] {
    cursor: pointer;
    height: 45px;
    padding: 10px;
    width: 100px;
}

.form-group label {
    cursor: pointer;
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/static/icons/chevron-down.svg");
    background-position: right center;
    background-repeat: no-repeat;
}

/* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
.form-group select::-ms-expand {
    display: none;
}

.form-group.form-checkbox label {
    cursor: pointer;
}

.form-group.form-checkbox .checkbox-container {
    display: flex;
    flex: 10;
}

.form-group.form-checkbox .checkbox-container input {
    flex: 0;
}

.form-group.form-checkbox .checkbox-group-container {
    display: grid;
    flex: 10;
    grid-gap: 15px 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-group.read-only p {
    flex: 10;
}

.form-group.read-only small {
    padding: 15px;
}

.form-group.required label:after {
    color: red;
    content: ' *';
    font-weight: bold;
}

/* END FORM */
.category-color-view {
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
}

.category-pill {
    border-radius: 10px;
}

.page-title > .actions {
    display: flex;
    justify-content: end;
}

.data-container {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.data-container p {
    margin: 0;
}

.data-container p:nth-child(even) {
    background-color: #f2f2f2;
}
