{% extends 'base.html.twig' %}
{% block title %}Stats | {{ parent() }}{% endblock %}
{% block content %}
<article>
    <section class="page-title">
        <h1>Stats</h1>
    </section>
    <section>
        <p>
            <strong>Income:</strong>
            {{ stats.income }}€
        </p>
        <p>
            <strong>Outcome:</strong>
            {{ stats.outcome }}€
        </p>
        <p>
            <strong>Savings:</strong>
            {{ stats.savings }}€
        </p>
    </section>
</article>
{% endblock %}
